body,
html{
    height: 100%;
    width: 100%;
    background: #FEFEDF;
}

.Register-Page-Content{
    margin: 50px;
    font-family: cursive;
    font-size: 20px;
}

.Register-Page-Content input {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 230px;
    background: #FEFEDF;
}

.Register-Page-Content button {
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    height: 50px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}