.Logo-Pic{
    height: 30px;
    margin-bottom: 0;
    margin-left: 25px;
}

.Logo-Text{
    font-family: cursive;
    font-size: 9px;
    margin-top: 0;
    font-style: italic;
}

@media screen and (max-width:400px) {
    .Logo-container {
        height:100%;
    }
    .Logo-Pic{
        height:20px;
        width: 20px;
        margin-left:10px;
    }
    .Logo-Text{
        height:10px;
        width:30px;
        font-size: 5px;
        margin: 0;
    }
}

