
.header-container{
    margin: 10px;
    border-bottom: 1px solid darkred;
    display: flex;
}


.button{
    padding-left: 30px;
    align-self: center;
}

.Burger-Button{
    height: 25px;
    /* padding-left: 30px; */

}


.dropdown{ 
    width: 35px;
    height: 35px;
    border-radius: 3em;
    border: none;
    margin: 3px;
    cursor: pointer;
}

.Dropdown-content {
    /* transform: translateX(-200%); */
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  .Dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }


  .Dropdown-content a:hover {
    display: flex;
    background-color: rgb(95, 79, 79);
    }


    .Dropdown:hover{
        display: inline-block;
       }

      

.Menu-container{
    display: flex;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
    
}

.Menu-container:hover .Dropdown-content{
    display: block;
}

.Simple-Search{
    display: flex;
    padding-left: 200px;
    padding-bottom: 10px;
    margin: 10px ;
    
}

.Search-icon{
    height: 20px;
}

.Search-Input{
    margin-left: 15px;
    width: 250px;
    border-radius: 8px;
}

.Register-container{
    margin: 10px;
    margin-left: auto;
}

.Register-Button{
    border: none;
    background: none;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}

