.all-movies-page{
    display: flex
}

.allMovies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    
}

.pagination-container{
    position: absolute;
    margin-top: 750px;
    margin-bottom: 130px;
    display: flex;
    margin-left: 600px;
}

.prev-text{
    margin: 15px;
    cursor: pointer;
}

.next-text{
    margin: 15px;
    cursor: pointer;
}

.allMovies-card-title,
.allMovies-card-imdbRating{
    font-size: 10px;
    cursor: pointer;
}

.card-img{
    width: 150px;
    margin: 35px;
    cursor: pointer;
}

.add-button{
    margin-right: 60px;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    font-family: cursive;
    background-color: rgb(235, 180, 235);
}


@media screen and (max-width:400px) {
    .allMovies-card-title, .allMovies-card-imdbRating{
        font-size: 7px;
        font-weight: bold;
    }
    .card-img{
        width:100px;

    }
    .allMovies-container{
        margin:0;
    }
}