.card-Container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.card-title{
    color: cornflowerblue;
}
.card-imdbRating{
    color: blue;
}