.card-Container{
    margin: 18px;
    align-items: center;
}

.card-text{
    position: relative;
    margin-bottom: 20px;
}

.posters img{
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
     
}

.card-Container h4{
    color: gray;
    font-size: 13px;
}

.card-imdbRating{
    color: gray;
}

.posters{
    margin: 30px;
    
}